.container{
  padding:40px;
  background-color: antiquewhite;
}
.Heading-First{
  text-align: center;
}
.list{
  font-weight: bold;
}
th{
  padding:10px;
}
td{
  padding:10px;
  background-color: rgb(200, 89, 89);
}
.form{
  margin-left: 38%;
  border:solid;
  border-color: brown;
  width: 300px;
  padding: 10px;
}
label{
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;;
}
.upload-file{
  margin-top:10px;
  margin-bottom: 10px;
}
.age-input{
  margin-left:57px;
}
.form-inputs{
  margin-top:10px;
}
.nation-input{
  margin-left:7px;
}