.Heading-First{
text-align: center;
}
th, td{
  border: 1px solid;
  padding:10px;
}
.form{
border: solid;
border-color: brown;
background-color: rgb(76, 102, 142);
width:20%;
margin-left:40%;
padding:10px;
}
.form-inputs{
  margin-bottom: 10px;
  margin-left:10px;
  font-weight: bold;
  font-size: 17px;
  color: rgb(241, 235, 228);
}
.upload-file{
margin-bottom: 5px;
margin-top:5px;
}
.age-input{
  margin-left:60px;
}
.nation-input{
  margin-left:9px;
}
